use-node-version=24.11.0
strict-peer-dependency=false
publish-branch=main
link-workspace-packages=false
save-workspace-protocol=false
allow-git=root # none: block git deps entirely; root: only from root package.json