@import "tailwindcss";

[data-theme="dark"], .dark {
/* Backgrounds */
--bg-primary: #2a1f16; /** Deep dark Brown **/ /* #1c1b19; */
--bg-secondary: #3d2d21;
--bg-elevated: #4a362a;

/* Text */
--text-primary: #fdfbd4; /** Chai cream **/ /* #f4f1ec; */
--text-secondary: #e8dcbb; /** Mitigated cream **/ /* #d0cbc4; */
--text-muted: #c4b698; /** Soft beige **/ /* #a09a92; */

/* Accent */
--accent: #e89850; /** Luminous Orange Chai **/
--accent-hover: #f5ab68;

/* States */
--focus: #f5ab68;
--border-subtle: #3a3936;
--border-medium: #7a6450;

/* Feedback */
--success: #7fa060; /** Light Green Olive **/
--warning: #d9954a; /** Luminous Coppered Orange **/
--danger: #d66b5a; /** Light Red dirt **/

/* Grayscale Feed */
--bg-feed-project: #000a1e;
--bg-feed-update: #0f1429;
--bg-feed-about: #000613;
}
