@import "tailwindcss";

[data-theme="dark"],
.dark {
  /* Backgrounds */
  --bg-primary: #2a1f16; /* New Spice chai theme : #825e34; */
  --bg-secondary: #3d2d21; /* New Spiced chai theme : #8d5a2b; */
  --bg-elevated: #965624; /* Old Spiced chai theme : #4a362a; */

  /* Text */
  --text-primary: #fdfbd4; /** Chai cream **/
  --text-secondary: #f2f0cb; /** Mitigated cream **/
  --text-muted: #c4b698; /** Soft beige **/

  /* Accent */
  --accent: #f2a65a; /** Luminous Orange Chai **/ /* #f5ab68 */
  --accent-hover: #e89850; /* #f5ab68; */

  /* States */
  --focus: #e89850; /* #f5ab68; */
  --border-subtle: #3a3936;
  --border-medium: #7a6450;
  --brand-color: #d62628;

  /* Feedback */
  --success: #7fa060; /** Light Green Olive **/
  --warning: #d9954a; /** Luminous Coppered Orange **/
  --danger: #d66b5a; /** Light Red dirt **/

  /* Card types */
  --card-project-bg: #3a2a14; /** Deep Warm Brown / Deep Walnut **/
  --card-project-accent: #e89850; /** Lighted Chai orange **/
    
  --card-experiment-bg: #2e2318; /** Dark Brown Sepia / Dark Coffee **/
  --card-experiment-accent: #c4855a; /** Lighted Chai brown **/

  --card-about-bg: #352b18; /** Dark Vanilla brown / Dark Coffee **/
  --card-about-accent: #d9954a; /** Luminous Golden Copper **/

  --card-note-bg: #382b16; /** Deep Walnut **/
  --card-note-accent: #e1974d; /** Golden Apricot **/

  --card-read-bg: #372915; /** Dark Coffee **/
  --card-read-accent: #df9453; /** Toasted Almond **/

  --card-job-bg: #261d14; /** Coffee Bean **/
  --card-job-accent: #b27952; /** Cinnamon Wood **/

  --card-client-bg: #342716; /** Dark Coffee **/
  --card-client-accent: #d68f55; /** Toasted Almond **/

  --card-talk-bg: #2a2016; /** Dark Coffee **/
  --card-talk-accent: #bb7f56; /** Golden Chestnut **/
}
