@import "tailwindcss";

[data-theme="light"], .light {
/* Backgrounds */
--bg-primary: #fdfbd4; /** Chai cream **/ /* #f5efe6; */
--bg-secondary: #f5f0d0;
--bg-elevated: #fffef8;

/* Text */
--text-primary: #3d2817; /** Deep dark Brown **/ /* #1f1f1f; */
--text-secondary: #5c3d24; /** Medium Brown **/ /* #2b1e16; */
--text-muted: #7a5c42; /** Light Brown **/ /* #6b6b6b; */

/* Accent */
--accent: #c86f28; /** Spicy Orange **/
--accent-hover: #b35e1f;

/* States */
--focus: #d47e30;
--border-subtle: #d4c4a8; /* #cfc4b8; */
--border-medium: #b8a58a;

/* Feeedback */
--success: #5a7c3e; /** Green olive **/
--warning: #b8762d; /** Copper Orange **/
--danger: #A33a2b; /** Red dirt **/

/* Card types */
--card-project-bg: #fff5e1; /** Peach cream **/
--card-project-accent: #d47e30; /** Chai orange **/

--card-update-bg: #f0ead6; /** Soft beige **/
--card-update-accent: #8d5a2b; /** Chai brown **/

--card-about-bg: #fff9ec; /** Vanilla cream **/
--card-about-accent: #b8762d; /** Golden Copper **/
}
