@import "tailwindcss";

[data-theme="light"],
.light {
  /* Backgrounds */
  --bg-primary: #fdfbd4; /** Chai cream **/ /* #f5efe6; */
  --bg-secondary: #e8dcbb;
  --bg-elevated: #fffef8;

  /* Text */
  --text-primary: #2a1f16; /** Deep dark Brown **/
  --text-secondary: #3d2d21; /** Medium Brown **/
  --text-muted: #7a5c42; /** Light Brown **/

  /* Accent */
  --accent: #c86f28; /** Spicy Orange **/
  --accent-hover: #b35e1f;

  /* States */
  --focus: #d47e30;
  --border-subtle: #d4c4a8; /* #cfc4b8; */
  --border-medium: #b8a58a;

  /* Feeedback */
  --success: #5a7c3e; /** Green olive **/
  --warning: #b8762d; /** Copper Orange **/
  --danger: #a33a2b; /** Red dirt **/

  /* Card types */
  --card-project-bg: #fff5e1; /** Peach cream **/
  --card-project-accent: #d47e30; /** Chai orange **/

  --card-experiment-bg: #f0ead6; /** Soft beige **/
  --card-experiment-accent: #8d5a2b; /** Chai brown **/

  --card-about-bg: #fff9ec; /** Vanilla cream **/
  --card-about-accent: #b8762d; /** Golden Copper **/

  --card-note-bg: #fff7e7; /** Old Lace **/
  --card-note-accent: #c67a2f; /** Bronze **/

  --card-read-bg: #fcf3df; /** Ivory mist **/
  --card-read-accent: #c3752f; /** Copper **/

  --card-job-bg: #dad5c3; /** Bone **/
  --card-job-accent: #744b23; /** Brown dark **/

  --card-client-bg: #f8f0dc; /** Eggshell **/
  --card-client-accent: #b16c2e; /** Copper **/

  --card-talk-bg: #e5e0cd; /** Eggshell **/
  --card-talk-accent: #805227; /** Saddle brown **/
}
